<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA44AoJ5P-HAJjXm2CZE19hGpIXTAmcI6s</string>
	<key>GCM_SENDER_ID</key>
	<string>733450174508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>authentification-flutter-b4327</string>
	<key>STORAGE_BUCKET</key>
	<string>authentification-flutter-b4327.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733450174508:ios:065e59969bd2cf58109189</string>
</dict>
</plist>